body {
  font-family: "Zen Tokyo Zoo", cursive;
}
h1 {
  font-size: 50px;
  color: rgb(6, 6, 88);
}
.highlighted-text {
  font-family: "Alex Brush", cursive;
  color: hsl(24, 89%, 41%);
}
div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 20px;
}
.flexible-container {
  display: flex;
  margin: 50px;
  padding: 50px;
}
.link-button {
  text-decoration: none;
  font-weight: 600;
  background-image: linear-gradient(rgb(240, 105, 42), rgb(241, 173, 85));
  padding: 8px 20px;
  border-style: solid;
  border-width: 5px;
  border-color: darkviolet;
  border-radius: 30px;
}
.top-banner {
  background-image: url(images/background-solid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#about-me {
  width: 50%;
}
div p {
  width: 70%;
}
.mid-banner {
  background-image: url(images/shapes/Frame\ 59.jpg);
  background-size: cover;
}

.half-width {
  width: 50%;
}
.recipes h1 {
  text-align: center;
}
.recipes p {
  text-align: center;
  padding: 0% 15%;
}
.triangle-width {
  width: 20%;
  margin: 5%;
  box-shadow: 10px 10px 30px gray;
  border-radius: 10%;
  text-align: center;
}
.triangle-width p {
  text-align: center;
  padding: 10%;
}
.image-size {
  width: 100%;
  border-radius: 10%;
}
footer h3 {
  text-align: center;
  background-color: black;
  padding: 1%;
  color: white;
}
.highlighted-foot {
  color: chocolate;
}
footer p {
  text-align: center;
  font-size: 10px;
  background-color: black;
  padding: 1%;
  color: white;
}
